<!DOCTYPE html>
<html>
  <head>
    <title><%= MN STATE PARKS %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <title><%= MN STATE PARKS %></title>
    <h1><%= %></h1>
    <p>Welcome to <%= State Parks of MN %></p>
  </body>
</html>
