<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
  
    <h1><%= title %></h1>
    <p>Welcome to  State Parks of MN </p>
    <a href="/parks">State Parks of MN</a>
    
    
  </body>
</html>
