<!DOCTYPE html>
<html>
  <head>
  <link rel="stylesheet" href="stylesheets/style.css">
  </head>
  <body>
  
    <h1><%= title %></h1>
    <a href="/parks">Welcome to State Parks of MN</a>
    <!-- <p>Welcome to  State Parks of MN </p> -->
    
    
    
  </body>
</html>
