<%- include('../partials/header') %>

<table id="list">
  <thead>
    <tr>
      <!-- <th>Park</th> -->
      <!-- <th>Year<br>Visited</th>
      <th></th> -->
    </tr>
  </thead>
  <tbody>
    <% parks.forEach(function(p) { %>
      <li>
        <p><%=p.name %></p>
        <form action="/parks/<%= p._id %>?_method=DELETE"
          class="delete-form" method="POST">
          <button type="submit">X</button>
        </form>
      <% }); %>
    </tbody>
  </table>
  
<%- include('../partials/footer') %>
