<%- include('../partials/header') %>

<form id="new-form" action="/parks" method="POST">
  <label>Park</label>
  <input type="text" name="name">
  <label>Year Visited:</label>
  <input type="text" name="yearVisited">
  <label>Park Rating</label>
  <select name="parkRating">
    <option value="Good">Good</option>
    <option value="Excellent">Excellent</option>
    <option value="Bad">Poor</option>
    <option value="Dont Visit">Don't Visit</option>
  </select>
  <!-- <label>Is Park Open?:</label>
  <input type="checkbox" name="Open" checked> -->
  <input type="submit" value="Add Park">
</form>

<%- include('../partials/footer') %>
